*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    background-image: url(./images/Electromechanical-BG.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    backdrop-filter: blur(5px);
    background: #080000a3;
    border-radius: 10px;
    position: relative;
    height: 100vh;
}
header {
    padding: 20px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;

}
.logo:hover{
    color: #00eeff;
    transition: color 0.3s ease-in-out;
    border-radius: 5px;
    border-bottom: 1px solid #00eeff;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding:0  10px;
}
nav ul li a:hover{
    color: #00eeff;
    transition: color 0.3s ease-in-out;
    border-radius: 5px;
    border-bottom: 1px solid #00eeff;
}



.skillsthome{
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    color:  #ecf4f5;
} 
.skillsthome  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skillsthome  ul li{
    /* flex-basis: 30%; */
    margin-bottom: 20px;
}


.Technical_Skills{
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    color:  #ecf4f5;
}

.Technical_Skills  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Technical_Skills  ul li{
    /* flex-basis: 30%; */
    margin-bottom: 20px;
}

.Soft_Skills{
    padding: 20px;
    text-align: center;
    /* width: 80%; */
    margin: 0 auto;
    margin-bottom: 50px;
    color:  #ecf4f5;
}

.Soft_Skills  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Soft_Skills  ul li{
    flex-basis: 30%;
    margin-bottom: 20px;
}
