
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    background-color: #1f232e;
    color: #fff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    padding: 20px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;

}
.logo:hover{
    color: #00eeff;
    transition: color 0.3s ease-in-out;
    border-radius: 5px;
    border-bottom: 1px solid #00eeff;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding:0  10px;
}
nav ul li a:hover{
    color: #00eeff;
    transition: color 0.3s ease-in-out;
    border-radius: 5px;
    border-bottom: 1px solid #00eeff;
}










/* Home */

.home {
    padding:  0;
    margin:  0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
}
.left{
    color: #fff;
    line-height: 1.5;

}

.left h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

}

.left .name{
    font-size: 40px;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
}
.left .role{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 5px;
}
.left .description{
    font-size: 18px;
    margin-left: 5px;
    margin-top:10px;
}
.right{
    margin-top: 60px;
    text-align: center;
    margin-left: 50px;
    display: block;
    width: 400px;
    height: 400px;

}

.right img{
    width: 400px;
    height: 450px;
    position: relative;
    left: 30%;
    border-radius: 50%;

}